* text=auto
*.php linguist-detectable=true
*.blade.php linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=false
CHANGELOG.md export-ignore
